@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-wrapper {
  @apply flex flex-col h-4/5 content-center justify-center;
}

.form {
  @apply w-4/5 md:w-[500px] mx-auto px-10 md:px-14 pt-8 pb-12 md:pt-20 md:pb-24 rounded-2xl shadow-md bg-white;
}

.form-title {
  @apply text-center text-xl md:text-3xl font-bold text-tertiary;
}

.form-subtitle {
  @apply mt-2 md:mt-5 mb-7 md:mb-10 text-center content-center justify-center text-sm text-gray-600;
}

.form-error {
  @apply text-sm text-danger;
}

.form-buttom {
  @apply h-11 transition duration-150 ease-out hover:ease-in rounded-3xl w-full py-2 px-4 mt-3 max-sm:text-sm text-md font-bold text-white;
}

.btn-able {
  @apply bg-primary hover:bg-secondary;
}

.btn-disabled {
  @apply bg-gray-300;
}

.form-link {
  @apply max-sm:block transition duration-150 ease-out hover:ease-in text-primary hover:text-secondary cursor-pointer;
}

.success-toast {
  background-color: blue;
}

.error-toast {
  background-color: #e6f4ea;
}
